
#extensions
*.yaml

#folders
.vscode
.github
.devcontainer
.clang-format
.clang-tidy
.cache
.dockerignore

deprecated
tags
bin
build

#files
lazygit
compile_commands.json
include/tso_arena_allocator.h
Dockerfile
